earth2studio @git+https://github.com/secondlaw-ai/earth2studio.git#earth2studio[all]
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_local]==0.4.16
pytest-regtest==1.5.1